li {
  list-style-type: none;
  border-bottom: 1px solid black;
}

h1 {
  margin: 5px;
}

p {
  width: 200px;
  text-align: left;
  padding: 5px;
  word-wrap: break-word;
}

button {
  margin-bottom: 10px;
}
